<%- include header %>
<form method="post">
    <label for="name">Name:</label>
    <input name="name"/>
    <br />
    <label for="password">Passowrd:</label>
    <input name="password" />
    <br />
    <input type="submit" value="Login" />
</form>
<%- include footer %>