<%- include header %>
<form method="post">
    <label for="name">Name:</label>
    <input name="name" />
    <br />
    <label for="email">Email:</label>
    <input name="email" />
    <br />
    <label for="password">Password:</label>
    <input name="password" />
    <br />
    <label for="password_confirm">Passowrd_confirm:</label>
    <input name="password_confirm" />
    <br />
    <input type="submit" value="Registration" />
</form>
<%- include footer %>